<?xml version="1.0"?>
<launch>
	<!--<include file="$(find robot_description)/launch/sim_w1.launch"></include>-->
    <arg name="s" default= "1"/>
    <param name="state" value="$(arg s)" />
    <arg name="des_x" default= "-3"/>
    <arg name="des_y" default= "-3"/>
    <param name="des_pos_x" value="$(arg des_x)" />
    <param name="des_pos_y" value="$(arg des_y)" />
    <node pkg="final_assignment" type="wall_follow_service_3.py" name="wall_follower" />
    <node pkg="final_assignment" type="random_move_1.py" name="random_move" />
    <node pkg="final_assignment" type="go_to_point_service_m.py" name="go_to_point" />
    <node pkg="final_assignment" type="decide_state.py" name="decide_state" output="screen" />
    <node pkg="final_assignment" type="target_server.py" name="target_server" output="screen" />
    <node pkg="final_assignment" type="robot_control.py" name="robot_control" output="screen" />
</launch>
